{% extends 'layout_interno.html' %}
{% block titulo %}Registro de demanda{% endblock %}
{% block titulo_header %}Registro de demanda{% endblock %}
{% block conteudo %}
    <main>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <form id="demanda_de_ti" action="/ti/demandas/registrar_demanda" method="post">
                <div class="box">
                    <select name="sala" id="sala" required>
                        <option value="" disabled selected>Selecione a sala</option>
                        {% if dados %}
                            {% for dado in dados %}
                                <option value="{{dado}}">{{dado}}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
                <div class="box">
                    <label for="nome">Nome</label>
                    <input type="text" name="nome" id="nome">
                </div>
                <div class="box">
                    <label for="descricao">Descrição</label>
                    <input type="text" name="descricao" id="descricao">
                </div>
                <input id="send" type="submit" value="Registrar demanda">
        
            </form>
            {% endif %}
            {% endwith %}
        <p>Escaneie o QrCode abaixo para acessar esse formulario</p>
        <img id="qr" src="{{ url_for('ti.demandas.static', filename='images/qrcode_demanda_ti.png')}}" alt="qrcode">
        <p>Este é um exemplo de como o formulario personalizado pode ser compartilhado</p>
    </main>
{% endblock %}