<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('ti.demandas.static', filename='css/style.css')}}">
    <title>{% block titulo %}{% endblock %}</title>
</head>
<body>
    <header>
        <div class="container">
            <!-- <img id="logo" src="{{ url_for('ti.demandas.static', filename='images/logo2.png')}}" alt="logo da subsecretaria de tecnologia"> -->
            <h1 id="titulo_da_pagina" >{% block titulo_header %}{% endblock %}</h1>
        </div>
    </header>
    {% block conteudo %}{% endblock %}
</body>
</html>