{% extends 'layout_interno.html' %}
{% block titulo %}Inicio{% endblock %}
{% block titulo_header %}Inicio{% endblock %}
{% block conteudo %}
    <nav class="menu">
        <ul>
            <li>
                <a class="btn-menu" href="/ti/demandas/listar_todas">Lista de demandas</a>
            </li>
            <li>
                <a class="btn-menu" href="/ti/demandas/criar_demanda">Criar nova demanda</a>
            </li>
            <li>
                <a class="btn-menu" href="/usuarios/gerir/cadastro">Cadastrar novo solicitante</a>
            </li>
            <li>
                <a class="btn-menu" href="/colabs/gerir/cadastro">Cadastrar novo colaborador</a>
            </li>
        </ul>
    </nav>
{% endblock %}