<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <h1>cadastro de usuario</h1>
    <form action="/usuarios/gerir/registrar_usuario" method="post">
        <div class="box">
            <label for="nome">Nome</label>
            <input type="text" name="nome" id="nome">
        </div>
        <div class="box">
            <label for="sala">Sala</label>
            <input type="text" name="sala" id="sala">
        </div>
        <input id="send" type="submit" value="Registrar demanda">
    </form>
</body>
</html>