{% extends 'layout_interno.html' %}
{% block titulo %}Cadastro de usuario{% endblock %}
{% block conteudo %}
<main>
    <form id="cadastro_de_usuario" action="/usuarios/gerir/registrar_usuario" method="post">
        <div class="box">
            <label for="nome">Nome</label>
            <input type="text" name="nome" id="nome">
        </div>
        <div class="box">
            <label for="sala">Sala</label>
            <input type="text" name="sala" id="sala">
        </div>
        <input id="send" type="submit" value="Registrar demanda">
    </form>
    <p>Escaneie o QrCode abaixo para acessar esse formulario</p>
    <img id="qr" src="{{ url_for('usuarios.gerir.static', filename='images/qrcode_usuarios_cadastro.png')}}" alt="qrcode">
    <p>Este é um exemplo de como o formulario personalizado pode ser compartilhado</p>
</main>
{% endblock %}