

*{
    border:0;
    margin:0;
    padding:0;
}

header{
    background-color: #008080;
    padding-top: 16px;
}

header > div.container {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header > div.container > img#logo {
    display: none;
    width: 100%;
    max-width: 256px;
}

header > div.container > h1#titulo_da_pagina {
    color: #008080;
    width: inherit;
    text-align: center;
    font-family: sans-serif;
    background-color: white;
}

header > div.container > p {
    color: white;
    width: inherit;
    text-align: center;
    font-family: sans-serif;
    padding: 4px;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

nav.menu {
    width: 100%;
    display: flex;
    justify-content: center;
}

nav.menu > ul {
    list-style: none;
    width: 100%;
    max-width: 320px;
}

nav.menu > ul > li {
    margin: 16px 0;
    width: 100%;
    display: flex;
}

nav.menu > ul > li > a.btn-menu {
    font-size: 20px;
    text-decoration: none;
    flex-grow: 1;
    color: #008080;
    border: #008080 solid 1px;
    padding: 16px;
    border-radius: 4px;
}

nav.menu > ul > li > a.btn-menu:hover {
    background-color: #008080;
    color: white;
}

table.lista_de_demandas{
    border-collapse: collapse;
    width: 100%;
}

table.lista_de_demandas > tbody > tr.nova-demanda {
    background-color: #e6914b;
}

table.lista_de_demandas > tbody > tr:hover {
    background-color: #008080;
    color: white;
    cursor: pointer;
}

table.lista_de_demandas > th, td {
    border: 1px solid black;
    background-color: transparent;
    padding: 8px;
    text-align: left;
}

table.lista_de_demandas > thead {
    background-color: gray;
    color: white;
}

form#demanda_de_ti {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
}

form#demanda_de_ti > div.box {
    /* height: 50px; */
    font-size: 24px;
    padding: 4px;
    display: flex;
    flex-direction: column;
}

form#demanda_de_ti > input#send{
    cursor: pointer;
    height: 50px;
    width: 100%;
    max-width: 256px;
    margin-top: 16px;
    background-color: #008080;
    color: white;
    transition: all .2s ease-in;
}

form#demanda_de_ti > input#send:hover{
    background-color: white;
    color: #008080;
    border: #008080 solid 1px;
}

div.box > label {
    width: max-content;
    margin-right: 8px;
}

div.box > select {
    min-width: 256px;
    height: 50px;
    font-size: 24px;
    border: solid #ccc 1px;
    background-color: transparent;
}

div.box > input[type=text] {
    width: 100%;
    max-width: 256px;
    height: 50px;
    /* flex-grow: 1; */
    font-size: 24px;
    padding-left: 4px;
    border: solid #ccc 1px;
}

div.demanda{
    background-color: aliceblue;
    width: 100%;
    max-width: 340px;
    margin: 32px auto;
    /* padding: 8px; */
    border: #008080 solid 1px;
}

div.demanda > p {
    padding: 16px 4px;
}

div.demanda > p.label {
    background-color: #008080;
    color: white;
    padding: 4px;
}

img#qr {
    width: 300px;
}