{% extends 'layout_interno.html' %}
{% block titulo %}Cadastro de colaborador{% endblock %}
{% block titulo_header %}Cadastro de colaborador{% endblock %}
{% block conteudo %}
    <main>
        <form id="cadastro_de_usuario" action="/colabs/gerir/registrar_colab" method="post">
            <div class="box">
                <label for="nome">Nome</label>
                <input type="text" name="nome" id="nome">
            </div>
            <div class="box">
                <label for="email">Email</label>
                <input type="text" name="email" id="email">
            </div>
            <div class="box">
                <label for="sala">Sala</label>
                <input type="text" name="sala" id="sala">
            </div>
            <input id="send" type="submit" value="Registrar demanda">
        </form>
        <p>Escaneie o QrCode abaixo para acessar esse formulario</p>
        <img id="qr" src="{{ url_for('colabs.gerir.static', filename='images/qrcode_colabs_cadastro.png')}}" alt="qrcode">
        <p>Este é um exemplo de como o formulario personalizado pode ser compartilhado</p>
    </main>
{% endblock %}